body {
	background-size: cover;
	background-repeat: no-repeat;
}
p, h1, h4 {
	font-family: 'Roboto Slab', serif;
}
p {
	width:600px;
	font-size:25px;
	color: gold;
}
h2,h3,h4 {
	color: gold;
}
a {
	color: gold;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	display:inline;
}
.Nav-bar a {
	text-decoration: none;
	color: gold;
	font-size: 30px;
	background-color:#000000;
}
a:hover {
	color: red;
}
.complaints a{
	color:red;
	background-color: #000000;
}
